.hiddeen {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .logo-back {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
    color: #404bbf;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.button-menu-close {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  padding: 0;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-menu-close:focus,
.button-menu-close:hover {
  background-color: #404bbf;
  border: none;
}
.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-menu-close:focus .close-icon,
.button-menu-close:hover .close-icon {
  fill: #ffffff;
}
.mob-menu-nav {
  margin-bottom: auto;
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mob-nav-link.current {
  color: #404bbf;
}
.mob-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-contacts-link.current {
  color: #4d5ae5;
}
.mob-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.mob-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.mob-socials-icons {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* hero */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 72px 0;
  height: auto;
  max-width: 320px;
}
.container-hero {
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 4px;
  border: none;
  display: block;
  text-align: center;
  min-width: 169px;
  height: 56px;
  margin: 72px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tab.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    min-width: 496px;
  }
  .hero-button {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office\ 1-min.jpg);
  }
  .hero-title {
    line-height: 1.07;
    max-width: 496px;
  }
  .hero-button {
    margin: 48px auto 0;
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
  }
}
@media (min-width: 320px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-mob@2x.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tab@2x.jpg");
  }
}
@media (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office\ 1@2x-min.jpg");
  }
}
/* categories */

.categories {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.categories-icon-container {
  display: none;
}
.adventages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.adventages-dscr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .categories-list {
    gap: 24px;
    row-gap: 72px;
  }
  .categories-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .categories {
    padding: 120px 0px;
  }
  .categories-list {
    display: flex;
    gap: 24px;
  }
  .categories-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .categories-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .adventages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .adventages-dscr {
    font-weight: 400;
  }
}

/* you team */

.page-container {
  padding: 0;
}
.page-team {
  background: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  align-items: center;
  margin-bottom: 72px;
}
.page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.photo {
  max-width: 264px;
  background: #fff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-name {
  padding: 32px 16px;
}
.initial {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.socials-icons {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .page-list {
    gap: 24px;
    row-gap: 64px;
  }
  .photo {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .page-team {
    padding: 120px 0;
  }
  .page-list {
    flex-direction: row;
    gap: 24px;
  }
  .photo {
    flex-basis: calc((100% - 72px) / 4);
  }
  .socials-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socials-link:hover,
  .socials-link:focus {
    background-color: #404bbf;
  }
}

/* our portfolio */

.page-portfolio {
  padding: 96px 0;
}
.portfollio-images {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.portfollio-text {
  display: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  align-items: center;
  margin-bottom: 72px;
}
.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.appointment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfollio-images {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .page-portfolio {
    padding: 120px 0;
  }
  .portfollio-images {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfollio-images:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .portfollio-images:hover .portfollio-text {
    transform: translateY(0);
  }
  .portfollio-text-container {
    position: relative;
    overflow: hidden;
  }
  .portfollio-text {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfollio-images {
    width: calc((100% - 48px) / 3);
  }
}

/* footer */
.footer-last {
  display: flex;
  flex-wrap: wrap;
  padding: 96px 16px;
}
.page-footer {
  background-color: #2e2f42;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
  justify-content: center;
}
.footer-logo .logo-back {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
  max-width: 288px;
  margin-bottom: 72px;
}

/* footer-socials */

.footer-socials-container {
  margin: 0 auto;
}
.footer-socials-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}
.footer-socials {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-icons {
  fill: #f4f4fd;
}

/* subscribe */

.subscribe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input::placeholder {
  color: #fff;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-last {
    gap: 24px;
    row-gap: 72px;
    padding: 96px 108px;
  }
  .footer-container {
    align-items: start;
  }
  .footer-text {
    margin-bottom: 0;
    max-width: 264px;
  }

  /* footer-socials */
  .footer-socials-container {
    margin: 0;
  }
  .footer-socials {
    margin: 0;
  }
  .footer-socials-text {
    text-align: left;
  }
  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-last {
    display: flex;
    align-items: baseline;
    padding: 100px 0;
  }
  .footer-container {
    margin-right: 120px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-input {
    width: 264px;
  }
  .footer-input:hover,
  .footer-input:focus {
    border-color: #31d0aa;
  }
  .footer-subscribe {
    margin-left: auto;
  }
  .footer-socials-link:hover,
  .footer-socials-link:focus,
  .footer-button:hover,
  .footer-button:focus {
    background-color: #31d0aa;
  }
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 288px;
  min-height: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.footer-button-close {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-close:focus,
.footer-button-close:hover {
  background-color: #404bbf;
  border: none;
}
.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-close:focus .close-icon,
.footer-button-close:hover .close-icon {
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  min-width: 256px;
}
.modal-field {
  margin-bottom: 8px;
}
.label-user {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-area {
  margin-bottom: 16px;
}
.modal-description {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-description:focus {
  border-color: #4d5ae5;
}
.modal-description::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-checed {
  margin-bottom: 24px;
}
.modal-check {
  flex-shrink: 0;
}
.modal-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.check-link {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}
.modal-check-item {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
}
.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.button-submit {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 4px;
  border: none;
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover,
.button-submit:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .modal-text {
    min-width: 360px;
  }
}
